<!doctype html>
<html lang="en">
<head>
    <title>Document</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="mt-4 p-5 bg-primary text-white rounded">
        <h1>Hello World Example</h1>
        <p>Lorem Ipsum...</p>
    </div>
</div>
<ol>
    <li>hi</li>
    <li>hi2</li>
    <li>hi3</li>
    <li>hi4</li>
    <li>hi5</li>
</ol>
<div class="containter">
    <table class="table">
        <thead>
        <tr>
            <th>Month</th>
            <th>Savings</th>
            <th>Savings</th>
            <th>Savings</th>
            <th>Savings</th>
            <th>Savings</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>January</td>
            <td>$100</td>
            <td>$100</td>
            <td>$100</td>
            <td>$100</td>
            <td>$100</td>
        </tr>
        </tbody>
    </table>
</div>


<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
    </div>
</div>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>