<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="manifest" href="/app.webmanifest" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  </head>
  <body>
    <script>
      function submitForm() {
        document.productForm.submit();
      }
    </script>
    <h1>Add new Product:</h1>
    <form
      action="/api/products"
      method="POST"
      enctype="multipart/form-data"
      name="productForm"
      id="productForm"
      target="formRes"
    >
      <div>
        <label for="name">Name: </label>
        <input
          class="form-control"
          type="text"
          id="name"
          name="name"
          placeholder="T-Shirt"
          required
        />
      </div>
      <div>
        <label for="price">Price: £</label>
        <input
          class="form-control"
          type="number"
          id="price"
          name="price"
          placeholder="20"
          required
        />
      </div>
      <div>
        <label for="category">Category: </label>
        <input
          class="form-control"
          type="text"
          id="category"
          name="category"
          placeholder="Shirts"
          required
        />
      </div>
      <div>
        <label for="description">Description: </label>
        <input
          class="form-control"
          type="text"
          id="description"
          name="description"
          placeholder="Lovely blue t-shirt, high quality and fashionable"
          required
        />
      </div>
      <div>
        <label for="image">Image: </label>
        <input
          class="form-control"
          type="file"
          id="image"
          name="image"
          required
        />
      </div>
      <button type="button" onclick="submitForm()">submit</button>
    </form>
    <p>Response:</p>
    <iframe width="1000px" class="iframe" name="formRes"></iframe>
  </body>
</html>
